* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'TT hoves';
  color: #222222;
}

main {
  display: flex;
  flex-direction: column;
  gap: calc(6.5vw + 35.7px);
}

body {
  background-image: url(../Images/html_css_js.png);
  background-repeat: no-repeat;
  background-position: top calc(2.8vw + 66px) right calc(3.5vw + 7px);
  background-size: calc(23.8vw + 89.5px);
}

section {
  margin-left: calc(10.6vw - 15.8px);
}



.logo {
  max-width: calc(8.8vw + 181.8px);
  margin-top: calc(0.33vw + 41px);
  margin-bottom: calc(6.3vw + 4.4px);
}

.courseStart {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: calc(14.5vw - 24px);
}

.start {
  display: flex;
  flex-direction: column;
  font-size: 21px;
  font-weight: 400;
  line-height: 29.4px;
}

h1 {
  font-family: 'Chava';
  font-size: 80px;
  margin-top: 78px;
}

.subtitle {
  font-weight: 700;
}

p {
  max-width: 930px;
  font-size: 27px;
  font-weight: 300;
  line-height: 37.8px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.primary {
  background: #6E3ABA;
  border-radius: 12px;
  border: none;
  width: 328px;
  padding: 20px 0;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.secondary {
  background: #fff;
  border: 1px solid #6E3ABA;
  border-radius: 12px;
  width: 328px;
  margin-left: 30px;
  padding: 20px 0;
  color: #6E3ABA;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}


/* Students */

.studentsInfo {
  margin-top: 160px;
  margin-left: 121px;
  margin-top: 37px;
}

/* .students { */
/* } */
/* 
.students span {
}

.students p {
} */

/* Timer */

.purple {
  background: #6E3ABA;
  text-align: center;
  margin-top: 122px;
  margin-left: 0;
}

.contentBlock.purple {
  padding-top: calc(4.4vw + 23.4px);
  padding-bottom: calc(5.2vw + 21.5px);
  margin-bottom: calc(11vw + 18.5px);
}

h3 {
  color: #fff;
  font-weight: 700;
  font-size: calc(2vw + 26px);
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 80px;
  ;
}

.timer {
  display: flex;
  justify-content: space-around;
  margin-top: calc(4vw + 4px);
  margin-bottom: calc(4vw + 4px);
}

.timerBlock {
  color: #2F1D4E;
}

.timerBlock .value {
  font-family: 'Chava';
  font-size: calc(12.6vw + 19px);
  line-height: 107.5%;
}

.timerBlock .desc {
  font-size: 27px;
  line-height: 118%;
  text-transform: uppercase;
}

.purple .secondary {
  margin: 0px auto 88px;
}


/* Programm */

.courseProgram {
  border: 2px solid black;
  padding: 80px 64px 35px;
  margin-right: 95px;
  position: relative;
}

#corner {
  width: 50px;
  position: absolute;
  top: -2px;
  right: -2px;
}

h2 {
  margin-bottom: 40px;
  font-size: calc(2.7vw + 24px);
  font-weight: 500;
  line-height: 117%;
  text-transform: uppercase;
}

.lessons {
  list-style-type: none;
  margin: 40px 0 34px;
  font-size: 24px;
  margin-top: 24px;
}

.lessons li {
  border-bottom: 1px solid #A1A1A1;
  padding-bottom: 24px;
  margin-top: 24px;
}

.desktop {
  display: block;
  margin: 0 auto;
}

.phone {
  display: none;
  margin: 30px auto 0;
}

/* Legend Start */
.legend_wrapper h2 {
  margin-bottom: calc(5.5vw + 19.2px);
}

.legend {
  display: flex;
  gap: 50px;

}

.legend_img {
  flex-basis: 399px;
  flex-shrink: 1;
}

.legend_info {
  flex-grow: 100;
  flex-basis: 566px;
  /* border: 2px solid black; */
}

.teacher_info h4 {
  font-size: calc(1.1vw + 34px);
  line-height: 121%;
  margin-bottom: calc(1vw + 14.2px);
}

.teacher_info p {
  font-size: calc(1vw + 19.2px);
  margin-bottom: calc(5.5vw + 19.2px);
}

.legend_cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "smile Champion"
    "case keybord";
  gap: calc(1.1vw + 26px) calc(8.8vw + 23px);
}

.card img {
  display: block;
}

.card span {
  display: block;
  font-size: calc(0.6vw + 14.2px);
  width: calc(10.4vw + 117.5px);
}



/* Legend End */


@media (max-width:1099px) {
  .legend {
    flex-wrap: wrap;

    justify-content: center;
  }

}

@media (max-width: 700px) {
  .desktop {
    display: none;
  }

  .phone {
    display: block;

  }

  .legend_cards {
    grid-template-areas: "smile keybord"
      "Champion case";
  }

  .card:first-child {
    grid-area: smile;
  }

  .card:nth-of-type(2) {
    grid-area: keyboard;
  }

  .card:nth-of-type(3) {
    grid-area: Champion;
  }

  .card:nth-of-type(4) {
    grid-area: case;
  }
}



.job_salary h2 {
  min-width: 729px;
}

.job_salary img {
  width: calc(60.6vw + 101px);
  margin-bottom: calc(1.8vh + 13.3px);
}

.job_salary img {
  width: calc(82.3 + 14.2px);
}

.main-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.main-container h4 {
  font-size: 25px;
}
.mainPar {
  max-width: 830px;
  font-size: 25px;
  font-weight: 300;
  line-height: 37.8px;
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 10px 50px;
}
.education{
  width: 600px;
}
.employment{
  width: 600px;
}
.practice{
  width: 600px;
}
.result{
  width: 600px;
}


.diplom_container{
  margin: 50px 10px;
  display: flex;
  flex-direction: row;
  gap: 120px;
  
  

  }
.diplom_container h2{
  font-family: 'TT Hoves';

}

@media (max-width: 900px ) {
  .diplom_container{
    flex-wrap: wrap;
    gap: 0px;
    margin-top: 10px;
  }

  .diplom_container h2 {
    margin-top: 30px;
    
  }
}


.job_container{  
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
}
/* 
.job_container img {
  width: 300px;
} */

.job_container_info {
  margin: 10px 20px 50px 20px 

}

.about_us {
  display: flex;
  flex-direction: row;
  gap: 230px;
  width: calc(89vw + -12px);
  margin-bottom: 100px;

}

.about_us_content {
  margin-left: calc(9.5vw +122.2px);
  width: calc(9.6vw + 400px);

}

.about_us_content img {
  width: 110px;
  /* margin-top: calc(4.3vw + 17.8px); */
  margin-bottom: calc(1.9vw + 13px);
}

.about_us_content span {
  font-size: calc(0.5vw + 20px);
}

.about_us_text {
  width:  calc(12.5vw + 330px);
  margin-top: calc(11.7vw + -70px);

  /* margin-left: calc(6.9vw + 180.3px); */

}

.about_us_text h2{
  margin-bottom: 25px;
  font-size: 58px;

}

@media(max-width: 500px) {
  .about_us {
    display: flex;
    flex-wrap: wrap;
  }

  .about_us_text {
    margin-top: -150px;
  }

  .about_us_text h2 {
    font-size: 38px;
  }
}


.splide__list {
  display: flex;
  flex-direction: row;
}


.img-card{
  border-radius: 12px;
  padding: 25px 12px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  

}


p{
  margin: 0;
}

.photo img{
  width: calc(20.2vw + 248px);
}

.photo{
  display: flex;
  gap: 16px;
  align-items:center;
}





@media(max-width:500px){
  .photo2 {
    display: none;
  }
}








  